.jumbotron, .panel {
	max-width: 980px;
	margin: auto;
}
.jumbotron {
	text-align: center;
	background-image: url(../images/train.png);
	background-size: contain;
	color: #234eaa;
}
.info-form {
	padding: 10px;
}